<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="book"></ion-icon>
      <ion-label>Leggi SMS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="send"></ion-icon>
      <ion-label>Invia SMS</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>