<ion-header>
    <ion-toolbar>
        <ion-title>
            Prova Invio SMS
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
        <ion-item>
            <ion-label stacked>Numero</ion-label>
            <ion-input [(ngModel)]="phone" type="tel"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Testo</ion-label>
            <ion-input [(ngModel)]="text" type="text"></ion-input>
        </ion-item>
    </ion-card>
    <div class="ion-text-center">
        <ion-button (click)="checkAndSendSMS()">
            Invia SMS
        </ion-button>
    </div>
</ion-content>