<ion-header>
  <ion-toolbar>
    <ion-title>
      Prova Lettura SMS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">

  <div>
    Clicca sul bottone per restare in attesa di sms. In base alla prima parola tra blue, red o green che viene letta nel messaggio, il bottone si colorerà in modo diverso
  </div>

  <ion-button [color]="buttonColor" (click)="readSMS()">
    Leggi SMS
  </ion-button>

</ion-content>
